# Virtual Environment
.venv/
env/
venv/
docs/

# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Databases & local data
*.db
*.sqlite
data/
news.db

# Environment variables
.env
